@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
	--primary-color: #3b82f6;
	--primary-color-hover: #2563eb;
	--border-color: #d1d5db;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: 'Geist Mono', monospace;
}

button {
	border: 1px solid transparent;
	border-radius: 0.25rem;
	background: var(--primary-color);
	color: #FFF;
	font-size: 1rem;
	font-weight: bold;
	padding: 0.5rem 1rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: background-color 0.3s ease;
	cursor: pointer;
}

button:hover {
	background-color: var(--primary-color-hover);
}

input {
	border: 1px solid var(--border-color);
	border-radius: 0.25rem;
	padding: 0.5rem;
	font-size: 1rem;
	caret-color: #449eff;
	transition: background-color 0.3s ease;
}
