.search-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
}

.search-header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 64rem;
	margin-bottom: 1rem;
}

.search-title {
	font-size: 1.5rem;
	font-weight: bold;
}

.search-select-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	align-items: center;
}

.search-filter-row {
	display: contents;
}

.search-select-label {
	font-size: 1.125rem;
	font-weight: 500;
}

.search-select {
	width: 100%;
	max-width: 300px;
	border: 1px solid var(--border-color);
	border-radius: 0.25rem;
	padding: 0.5rem;
	font-size: 1rem;
}
.search-input {
	width: 100%;
	max-width: 300px;
	border-radius: 0.25rem;
	padding: 0.5rem;
	font-size: 1rem;
}

.search-buttons-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 500px;
	margin-top: 1rem;
	flex-wrap: wrap;
    gap: 1rem;
}

.search-button {
	background-color: var(--primary-color);
	color: white;
	padding: 0.5rem 1rem;
	cursor: pointer;
}

.search-button:hover {
	background-color: var(--primary-color-hover);
}

.dog-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	margin-top: 1rem;
}

@media (min-width: 640px) {
	.dog-grid {
	  grid-template-columns: repeat(2, 1fr); /* 2 columns for small screens */
	}
  }

  @media (min-width: 768px) {
	.dog-grid {
	  grid-template-columns: repeat(3, 1fr); /* 3 columns for medium screens */
	}
  }

  @media (min-width: 1024px) {
	.dog-grid {
	  grid-template-columns: repeat(4, 1fr); /* 4 columns for large screens */
	}
  }

  @media (min-width: 1280px) {
	.dog-grid {
	  grid-template-columns: repeat(5, 1fr); /* 5 columns for extra-large screens */
	}
  }

.age-filters>div {
	margin: 10px 0;
	gap: 20px;
	display: flex;
	align-items: center;
}
